@charset "UTF-8";

@font-face {
  font-family: "nccfontpack";
  src:url("../../fonts/nccfontpack.eot");
  src:url("../../fonts/nccfontpack.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/nccfontpack.woff") format("woff"),
    url("../../fonts/nccfontpack.ttf") format("truetype"),
    url("../../fonts/nccfontpack.svg#nccfontpack") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "nccfontpack" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "nccfontpack" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "b";
}
.icon-sound:before {
  content: "c";
}
.icon-envelope:before {
  content: "d";
}
.icon-users:before {
  content: "e";
}
.icon-portfolio:before {
  content: "g";
}
.icon-grid-alt:before {
  content: "h";
}
.icon-settings:before {
  content: "i";
}
.icon-settings:before {
  content: "i";
}
.icon-close:before {
  content: "j";
}
.icon-trash:before {
  content: "k";
}
.icon-transaction:before {
  content: "l";
}
.icon-squarearrow-down-thin:before {
  content: "f";
}
.icon-arrow-down-thin:before {
  content: "m";
}
.icon-arrow-up:before {
  content: "n";
}
.icon-arrow-down:before {
  content: "o";
}
.icon-move:before {
  content: "r";
}
.icon-magnifying-glass:before {
  content: "q";
}
.icon-compose:before {
  content: "a";
}
.icon-attachment:before {
  content: "p";
}
.icon-out:before {
  content: "s";
}
.icon-inbox:before {
  content: "t";
}
.icon-magnifying-glass-reverse:before {
  content: "u";
}
.icon-reply:before {
  content: "r";
}
.icon-facebook:before {
  content: "v";
}
.icon-google-plus:before {
  content: "w";
}
.icon-twitter:before {
  content: "x";
}
.icon-linkedin:before {
  content: "y";
}
.icon-arrow-left:before {
  content: "z";
}
.icon-arrow-right:before {
  content: "A";
}
.icon-arrow-down-medium:before {
  content: "B";
}
.icon-close-plain:before {
  content: "C";
}
.icon-user:before {
  content: "D";
}
.icon-menu:before {
  content: "E";
}
.icon-paper-plane:before {
  content: "F";
}
.icon-pause:before {
  content: "G";
}
.icon-play:before {
  content: "H";
}
.icon-plus:before {
  content: "K";
}
.icon-minus:before {
  content: "I";
}
.icon-clock:before {
  content: "J";
}
