@import 'compass';
@import '../../config';
@import '../../mixins';

$sidebar-width: 296px;
$header-height: 100px;

.unit {
	font-weight: $fontWeight-black;
}

.surname {
	font-weight: $fontWeight-bold;
}

#wallet-page-sidebar {
	$sidebar-textColor: #ebebeb;
	position: fixed;
	width: $sidebar-width;
	height: 100%;
	background-color: #252a34;
	color: $sidebar-textColor;
	z-index: 200;

	/*.account-info {
		$avatar-size: $avatar-small;
		$avatar-rightMargin: 9px;
		@extend %clearfix;
		margin-left: 18px;
		margin-bottom: 35px;

		.account-avatar {
			float: left;
			margin-right: $avatar-rightMargin;
			img {
				width: $avatar-size;
				height: $avatar-size;
			}
		}

		$statusDropdown-width: 32px;
		.selecter {
			@include inline-block();
			vertical-align: -3px;
		}
		.selecter-element {
			width: 0;
			height: 0;
		}
		.selecter-selected {
			text-align: center;
			background: transparent url(../../images/arrow-down-thin.png) no-repeat right 6px;
			padding: 0 10px 0 2px;
			.status-label {
				display: none;
			}
		}
		.selecter-options {
			width: auto;
		}
		.scroller-content {
			background-color: #44526d;
			padding: 2px;
		}
		.selecter-item {
			background-color: #44526d;
			padding: 0;
			border: none;
			line-height: 0;
			&:hover {
				background-color: #252a34;
			}
			.account-status {
			}
			.status-label {
				color: #ebebeb;
				text-transform: capitalize;
				font-size: 9px;
				@include inline-block();
				vertical-align: 5px;
				padding-right: 5px;
			}
		}

		.account-status {
			font-size: 20px;
			&.available {
				color: #27d782;
			}
			&.busy {
				color: #d72727;
			}
			&.invisible {
				color: #d8d8d8;
			}
		}

		.detailed-info {
			float: left;
			width: calc(100% - #{$avatar_size} - #{$avatar-rightMargin});

			.title {
				margin-top: -3px;
				margin-bottom: -4px;
				position: relative;
				font-size: 0;
			}

			h1 {
				font-size: 13.5px;
				font-weight: $fontWeight-regular;
				text-transform: uppercase;
				@include inline-block();
				//@include ellipsis-overflow(calc(100% - #{$statusDropdown-width}));
				@include ellipsis-overflow(100%);
			}

			.surname {
				color: #fff;
			}

			.account-id {
				font-size: 9.75px;
				color: #e6801d;
				@include ellipsis-overflow(100%);
			}

			.last-online {
				font-size: 11.25px;
			}
		}
	}*/

	nav {
		$notiBox-size: 1.4em;
		font-size: 13px;
		padding-right: 18px;
		padding-top: 24px;

		li {
			padding-top: 2px;
			padding-bottom: 2px;
			padding-left: 40px;
			margin-top: 18px;
			margin-bottom: 18px;
			color: #5a6479;
			font-weight: $fontWeight-medium;
			@include transition-property(padding-left, border-left-width);
			@include transition-duration(.3s);

			&.disabled {
				color: #2e3541;
				pointer-events: none;
				cursor: default;
			}

			&:not(.disabled) {
				$indicator-width: 6px;;
				$padding-left: 52px;
				&.active, &:hover {
					.item-title {
						color: #ebebeb;
					}
				}
				&:hover {
					padding-left: $padding-left;
				}
				&.active {
					border-left: $indicator-width solid #ebebeb;
					padding-left: $padding-left - $indicator-width;
				}
			}
		}

		.item-title {
			@include ellipsis-overflow(calc(100% - #{$notiBox-size}));
			@include transition-property(color);
			@include transition-duration(.3s);
			&:before {
				font-size: 1.2em;
				margin-right: 10px;
				vertical-align: -2px;
			}
		}

		.noti-box {
			float: right;
			@include noti-box($notiBox-size);
			&.messages {
				background-color: #e89442;
				color: #ebebeb;
			}
			&.transactions {
				background-color: #fff;
				color: #252a34;
			}
			&.news {
				background-color: #27d782;
				color: #252a34;
			}
		}
	}
}

.sidebar-head {
	width: 100%;
	height: $header-height;
	background-color: #d0d0d0;
	padding-left: 21px;
	padding-right: 25px;

	.logo {
		float: left;
		cursor: pointer;
	}

	.nav-toggler {
		float: right;
		color: #2d2d2d;
		font-size: 16px;
	}
}

.account {
	$drop-arrow-width: 33px;
	$height: 80px;
	font-size: 14px;
	color: #fff;
	
	@extend %clearfix;

	.account-id {
		margin-bottom: 3px;
		outline: none;
		&.zeroclipboard-is-active {
			opacity: .8;
		}
	}

	.label {
		color: #a1bbee;
		font-weight: $fontWeight-medium;
		@include break-word();
		&.blank {
			color: #5a6479;
			font-style: italic;
		}
	}

	.account-info {
		float: left;
		width: calc(100% - #{$drop-arrow-width});
		min-height: $height;
		padding: 10px 5px 6px 21px;
		p {
			margin-bottom: 3px;
		}
	}

	.primary {
		display: inline-block;
		font-size: 11px;
		background-color: #3498db;
		padding: 0 8px 2px;
		margin-left: 5px;
	}

	.drop-arrow {
		float: right;
		width: $drop-arrow-width;
		height: $height;
		line-height: $height;
		text-align: center;
		font-size: 12px;
	}

	&.active {
		background-color: #2e3541;
		&.selecting {
			background-color: #161a20;
		}
	}

	.account-select & {
		cursor: pointer;
		background-color: #1b1f27;
		&:hover {
			background-color: #161a20;
		}
	}
}

.account-select {
	position: absolute;
	max-height: 300px;
}

$mainContent-leftPadding: $sidebar-width + 22px;
$mainContent-topPadding: $header-height;
#wallet-page-main-content {
	padding-top: $mainContent-topPadding;
	padding-bottom: 9px;
	background-color: #ebebeb;
	min-height: 100%;
}

#wallet-page-header {
	width: 100%;
	height: $header-height + 1px;
	position: fixed;
	top: 0;
	background-color: #fff;
	z-index: 100;
	border-bottom: 1px solid #ebebeb;

	.container {
		padding-left: $mainContent-leftPadding;
		padding-right: 15px;
		height: 100%;
		@extend %clearfix;
	}

	.search-area {
		float: left;
		font-size: 14px;
		pointer-events: none;
		color: #afafaf; //#252a34;

		button {
			padding: 0;
			font-size: 21px;
			vertical-align: text-bottom;
			&:before {
				display: block;
			}
		}

		.search-wrapper {
			border-bottom: 1px solid #afafaf;//#5f636a;
		}
	}

	.temp-message {
		float: left;
		visibility: none;
		opacity: 0;
		@include transition(opacity 1s);
		margin-left: 150px;
		font-size: 12px;
		color: #3c783a;

		&.in {
			visibility: visible;
			opacity: 1;
			@include transition(none);
		}

		p {
			background-color: #e0efd8;
			@include border-radius(3px);
			padding: 10px 15px;
		}
	}

	$notiBox-size: 1.9em;

	.noti-box {
		@include noti-box($notiBox-size);
		color: #fff;
		background-color: #e6801d;
		margin-right: 6px;
	}

	.notifications {
		$notification-width: 204px;
		$hPadding: 4px;
		$image-size: 32px;
		$message-width: 110px;
		$hGap: 5px;
		$bgColor: #fff;
		$borderColor: #d5d5d5;
		$arrow-height: 6px;

		font-size: 9.75px;
		font-weight: $fontWeight-light;
		background-color: $bgColor;
		padding: 1px;
		border: 1px solid $borderColor;
		margin-top: 4px + $arrow-height;
		margin-left: $notiBox-size / 2;
		left: - $notification-width / 2;
		display: none;
		@include arrow-box(up, 
			('color': $bgColor, 'width': 10px, 'height': $arrow-height),
			('enable': true, 'width': 1px, 'color': $borderColor));

		.image, .message {
			float: left;
		}

		.image {
			img {
				width: $image-size;
				height: $image-size;
			}
		}

		.message {
			margin-left: $hGap;
			margin-right: $hGap;
			width: $message-width;
		}

		.time {
			float: right;
		}

		li {
			padding: 2px 0;
			border-bottom: 1px solid #f6f6f6;
			&:first-child {
				padding-top: 0;
			}
			&:last-child {
				padding-bottom: 0;
				border-bottom: none;
			}
		}

		.notification {
			@extend %clearfix;
			width: $notification-width;
			padding: 3px $hPadding;

			&.unread {
				background-color: #ebebeb;
				.content {
					font-weight: $fontWeight-bold;
				}
			}
		}
	}

	.setting {
		display: inline-block;
		position: relative;

		.button {
			font-size: 11px;
			vertical-align: middle;
		}

		.options {
			position: absolute;
			right: 0;
			top: calc(100% + 20px);
			background-color: #ebebeb;
			border-bottom: 2px solid #d4d4d4;

			li {
				padding: 6px 15px;
				white-space: nowrap;
				font-weight: $fontWeight-medium;
				cursor: pointer;
				&:hover {
					background-color: #d4d4d4;
				}
				&.separator {
					border-bottom: 1px solid #d4d4d4;
				}
				&.disabled {
					color: #888888;
					pointer-events: none;
				}
			}
		}
	}
}

.wallet-area {
	float: right;
	font-size: 14px;

	.noti-area {
		@include inline-block();
	}

	.wallet-ava {
		img {
			width: $avatar-medium;
			height: $avatar-medium;
		}
	}

	.noti-box, .wallet-info, .wallet-ava {
		vertical-align: middle;
	}

	.wallet-info, .wallet-ava {
		margin-right: 10px;
	}

	.wallet-info {
		display: inline-block;
		text-align: right;
	}

	.wallet-name {
		font-weight: $fontWeight-bold;
	}

	.last-access {
		color: #8e8e8e;
		font-size: 12px;
	}
}

#wallet-page-main-content {
	main {
		.container {
			padding-left: $mainContent-leftPadding;
		}
	}
}

.modal.clientInfo {
	font-size: 13px;

	.modal-body {
		padding: 18px 38px 22px;
	}

	.info {
		@extend %clearfix;
		text-align: left;
		margin-top: 40px;
		@include break-word();
	}

	.ncc-info {
		float: left;
		width: 45%;
	}

	.nis-info {
		float: right;
		width: 45%;
	}

	.block {
		margin-bottom: 1em;
	}
}

.modal.sendNem {
	$unit-width: 46px;
	font-size: 12px;

	.modal-body {
		text-align: left;
		padding: 3px 16px 18px;
	}

	input, button, select {
		height: 27px;
	}

	input, textarea {
		@include input-placeholder() {
			color: #a2a2a2;
		}
	}

	.form-control {
		width: 100%;
		background-color: #ebebeb;
		color: #444444;
		margin-top: 17px;
		padding: 6px 8px;
	}

	.unit {
		display: inline-block;
		width: $unit-width;
		text-align: center;
	}

	textarea {
		height: 100px;
	}

	.amount {
		padding: 0;
		input {
			padding: 8px;
			width: calc(100% - #{$unit-width});
		}
	}

	.recipient-label {
		margin-top: 7px;
		margin-left: 10px;
		font-size: 11px;
		color: #1b5278;
		.label {
			font-weight: $fontWeight-medium;
		}
	}

	$middleGap-half: 8px;
	.row {
		@extend %clearfix;
		.form-control {
			width: calc(50% - #{$middleGap-half});
		}
	}

	.fee {
		$label-width: 30px;
		float: left;
		margin-right: $middleGap-half;
		padding: 0 0 0 8px;
		label {
			display: inline-block;
			width: $label-width;
		}
		input {
			padding: 8px;
			width: calc(100% - #{$label-width} - #{$unit-width});
		}
	}

	.encrypt {
		margin-top: 7px;
		margin-bottom: 3px;

		input {
			height: auto;
			vertical-align: -2px;
		}

		label {
			font-weight: $fontWeight-regular;
		}
	}

	.due-by {
		$numberInput-width: 30px;
		float: right;
		margin-left: $middleGap-half;
		padding: 0 8px;
		label {
			display: inline-block;
			width: calc(100% - #{$numberInput-width});
		}
		input {
			width: $numberInput-width;
		}
		.stepper {
			@include inline-block();
		}
		.stepper-arrow {
			color: #13abfa;
		}
	}

	.recipient {
		text-transform: uppercase;
		@include input-placeholder() {
			text-transform: none;
		}
	}

	.set-fee {
		$color: #e89442;
		color: $color;
		width: calc(50% - #{$middleGap-half});
		margin-top: 7px;
		display: block;
		font-size: 11px;
		font-weight: $fontWeight-black;
		&:hover {
			color: lighten($color, 15%);
		}
	}

	.submit {
		text-align: right;
		margin-top: 17px;
		button {
			$background: #1b5278;
			background-color: $background;
			color: #fff;
			text-transform: uppercase;
			&:hover {
				background-color: lighten($background, 10%);
			}
		}
	}

	label {
		font-weight: $fontWeight-black;
	}
}

.modal.transaction-details {
	font-size: 13px;
	color: #444444;

	.modal-body {
		padding: 20px;
	}

	td {
		$padding: 2px;
		padding-top: $padding;
		padding-bottom: $padding;
	}

	.title {
		font-weight: $fontWeight-bold;
		text-align: right;
		width: 21%;
		vertical-align: top;
	}

	.value {
		font-weight: $fontWeight-medium;
		text-align: left;
		padding-left: 15px;
		width: 79%;
		vertical-align: top;
	}

	.dimmed {
		color: #d1d1d1;
	}
}