$browser-minimum-versions: map-merge($browser-minimum-versions, ('ie':'9'));

$fontWeight-thin: 		100;
$fontWeight-light: 		300;
$fontWeight-regular: 	400;
$fontWeight-medium: 	500;
$fontWeight-bold: 		700;
$fontWeight-black: 		900;

$container-width:		1200px;

$avatar-tiny:			26px;
$avatar-small:			46px;
$avatar-medium:			60px;